@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

:root {
  --mainPink: white;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: 'Goldman', cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}
/* nav links */
.navbar {
  color: #202f41;
  background-color:#202f41;
}

.toggler-icon {
  font-size: 2.5rem;
  color: #202f41;
}
.nav-link {
  padding: 2rem 1rem;
  color: #fff;
  border-radius: var(--border);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem o;
  gap: 1rem;
}

.navbar img {
    font-size: 2rem;
}

img {
font-size: 2rem;
height: 10rem;

}
/* end of nav links */
/* info icons */
.cart-info__icon {
  color: white;
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid white;
  color: white;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: white;
  border-color: #202f41;
  color: #202f41;
}
.cart-info:hover .cart-info__icon {
  color: #202f41;
}
/* end of info icons */
/* banner */

.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
    url("../img/background.jpg") center/cover fixed no-repeat;
  position: relative;
}
.banner {
  color: var(--mainWhite);
  margin-top: -4rem;
}
.banner-title {
  color: #202f41;
  font-size: 4rem;
}
.banner-link {
  font-size: 1.5rem;
  color: #202f41;
  border: 0.2rem solid #202f41;
}
.banner-link:hover {
  background: white;
  color: #202f41;
}
/* endo of banner */
/* cart  */
.cart {
  position: absolute;
  min-height: 15rem;
  background: var(--mainWhite);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
}
.show-cart {
  width: 20rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
.cart-item {
  transition: all 1s ease-in-out;
}

/* end of cart */
/* cart item */
.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}
#cart-item-price {
  font-size: 0.8rem;
}

/* cart buttons */
.cart-buttons-container {
  justify-content: center;
}
/* end of cart buttons */

/* about */
.about-img__container {
  position: relative;
  height: 20rem;
}
.about-img__container1{
  height: 20rem;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 30rem;
  height: 20rem;
  outline: 0.5rem solid #202f41;
  z-index: -1;
  transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/*end of about */

/* store items */
.store {
  background: var(--mainGrey);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: #202f41;
  border-top-left-radius: 1rem;
  transition: all 0.5s ease-in-out;
  transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: white;
}
.store-item-value {
  color: #202f41;
}
/*end of  store items */
.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}

/* ligthbox */

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6) !important;
  display: none;
}
.show {
  display: block;
}

.lightbox-holder {
  position: relative;
}

.lightbox-close {
  color: var(--mainPink);
  font-size: 3rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.lightbox-close:hover {
  color: var(--mainYellow);
}

.lightbox-control {
  position: absolute;
  font-size: 4rem;
  color: var(--mainPink);
  transition: all 1s linear;
  cursor: pointer;
}
.lightbox-control:hover {
  color: var(--mainYellow);
}
.btnLeft {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
}
.btnRight {
  top: 50%;
  right: 0;
  transform: translateX(60%);
}

.footer {
  background: #202f41;
  text-align: center;
  border-top: var(--border);

}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 4rem;
  color: #fff;
  margin: .4rem;
  letter-spacing: 2rem;
  text-align: center;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem o;
  gap: 1rem;
}

.footer .links a {
  padding: 2rem 1rem;
  color: #fff;
  border-radius: var(--border);
  font-size: 2rem;
}

.footer .credit {
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  padding: 1rem;
}

.img-fluid {
  height: 5rem;
}

